# OS X
.DS_Store

# Eclipse
.project
.settings
.classpath
persistence.xml

# Build output
target/
war/
doc/

# Working directories
.gwt/
.gwt-tmp/
gwt-unitCache/
www-test/
tomcat/

#IntelliJ IDEA
*.iml
.idea

*.zip
