# OS X
.DS_Store

# Migrated from Subversion
# Eclipse metadata
.project
.settings
.classpath

# Build output
target/
war/
doc/

# Working directories
.gwt/
.gwt-tmp/
gwt-unitCache/
www-test/
tomcat/

#IntelliJ IDEA metadata
*.iml
.idea
