<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>requestFactoryServlet</servlet-name>
    <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>service</servlet-name>
    <servlet-class>com.sencha.gxt.examples.resources.server.ExampleServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fileservice</servlet-name>
    <servlet-class>com.sencha.gxt.examples.resources.server.FileServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsontree</servlet-name>
    <servlet-class>com.sencha.gxt.examples.resources.server.JsonTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestFactoryServlet</servlet-name>
    <url-pattern>/gwtRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/explorer/service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/resources/service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fileservice</servlet-name>
    <url-pattern>/explorer/fileservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fileservice</servlet-name>
    <url-pattern>/resources/fileservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsontree</servlet-name>
    <url-pattern>/explorer/jsontreeloader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsontree</servlet-name>
    <url-pattern>/resources/jsontreeloader</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ExamplesRequestFilter</filter-name>
    <filter-class>com.sencha.gxt.examples.resources.server.EntityManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExamplesRequestFilter</filter-name>
    <url-pattern>/gwtRequest</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ie8-intranet</filter-name>
    <filter-class>com.sencha.gxt.examples.resources.server.LatestIEFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ie8-intranet</filter-name>
    <url-pattern>/explorer-gray.html</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.sencha.gxt.examples.resources.server.DataLoader</listener-class>
  </listener>
</web-app>